.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
# Log files
*.log

#Editor & IDE
.vscode/
.idea/
*.swp

#OS metadata
.DS_Store
Thumbs.db

#Logs & build cache
*.log
.cache/